<mat-card class="headerbar">
    <mat-card-content class="headercontent">
        <h1>My todo list</h1>
    </mat-card-content>
    <div class="timecontainer">
        <h2 id="hour">{{ getHours() }}</h2>
        <h2>:</h2>
        <h2 id="minutes">{{ getMinutes() }}</h2>
        <h2>:</h2>
        <h2 id="seconds">{{ getSeconds() }}</h2>
    </div>
    <div class="datecontainer">
        <h2 id="hour">{{ getDate() }}</h2>
        <h2>|</h2>
        <h2 id="minutes">{{ getMonth() }}</h2>
        <h2>|</h2>
        <h2 id="seconds">{{ getFullYear() }}</h2>
    </div>
</mat-card>