.headerbar {
    background: linear-gradient(to bottom, blue, purple);
    box-shadow: 0px 0px 20px 0px;
    width: 95%;
    display: flex;
    justify-content: center;
    height: 130px;
    margin-left: 2.5%;
    border-radius: 0px 0px 20px 20px;
    h1 {
        font-size: 50px;
        font-family: 'Roboto Mono', monospace;
        font-weight: 600;
        margin: 0;
        padding-left: 32px;
        color: white;
    }
    .headercontent {
        width: 400px;
        padding: 0;
    }
}

.timecontainer {
    position: absolute;
    display: flex;
    top: 25%;
    left: 50%;
    border: 2px solid orangered;
    padding: 6px;
    border-radius: 10px;
    background: linear-gradient(to right, red, yellow);
    transform: translate(-50%, -50%);
    h2 {
        margin: 0;
        padding-left: 4px;
        padding-right: 4px;
    }
}

.datecontainer {
    position: absolute;
    display: flex;
    top: 75%;
    left: 50%;
    border: 2px solid orangered;
    padding: 6px;
    border-radius: 10px;
    background: linear-gradient(to right, red, yellow);
    transform: translate(-50%, -50%);
    h2 {
        margin: 0;
        padding-left: 4px;
        padding-right: 4px;
    }
}

@media (max-width: 1150px) {
    .headerbar {
        h1 {
            font-size: 30px;
        }
    }
}

@media (max-width: 800px) {
    .headerbar {
        align-items: center;
        height: 300px;
        justify-content: space-between;
        h1 {
            font-size: 30px;
            margin-top: 20px;
            text-align: center;
        }
    }
    .timecontainer {
        top: 30%;
    }
    .datecontainer {
        top: 50%;
    }
}